#Não obrigatóprio, caso não for informado o 3000 será utilizado
PORT=

#Banco de Dados
DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

#Token para simulação de JWT
TEST_TOKEN=
#Token para simulação de uma autorização do webhook
WEBHOOK_AUTHORIZATION_TOKEN=
